<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="static/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage"
      onload="insert_order_html({{ order_num }}, '{{ order_list }}'); insert_pi({{piNum}}); run_pi({{piNum}}, '{{ piInfo }}')">

<script language="javascript">

    function insert_order_html(Str1, list) {
        str = ""
        temp = list.split("!")

        console.log(temp)
        for (i = 0; i < Number(Str1); ++i) {
            k = i.toString()
            tem = temp[i].split(",")

            str = str + "<tr>"
            str = str + "<td>" + tem[0] + "</td>&nbsp;"
            str = str + "<td>" + tem[1] + "</td>&nbsp;"
            str = str + "<td>" + tem[2] + "</td>&nbsp;"
            str = str + "<td>" + tem[3] + "</td>&nbsp;"
            str = str + "</tr>"
        }

        aa.innerHTML = str;
    };

    function insert_pi(Str1) {
        str = ""
        for (i = 1; i < Number(Str1) + 1; ++i) {
            str = str + "<div class='col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col'>"
            str = str + "<div class='tm-bg-primary-dark tm-block tm-block-taller'  style='height:350px;width:350px'>"
            str = str + "<h2 class='tm-block-title'>Case"+i.toString()+"</h2>"
            str = str + "<div id='pieChartContainer"+i.toString()+"' style='height:300px;width:300px'>"
            str = str + "<canvas id='pieChart"+i.toString()+"' class='chartjs-render-monitor' width='200' height='200'></canvas>"
            str = str + "</div></div></div>"
        }
        document.getElementById("piInner").innerHTML = str;

    };

    function run_pi(numStr, nameStr){
        Chart.defaults.global.defaultFontColor = 'white';
        console.log(nameStr)
            // console.log(tem)

        temp = nameStr.split("!")

        var chartHeight = 300;

        $("#pieChartContainer").css("height", chartHeight + "px");

        for (i = 1; i < Number(numStr) + 1; ++i) {
            tem = temp[i-1].split(",")
            idName = "pieChart"+i.toString()
            // console.log(idName)
            // console.log(tem)
            ctxPie =  $(idName);
            var ctxPie = document.getElementById("piInner").getElementsByTagName("canvas");
            ctxPie = ctxPie[i-1].getContext("2d");
            optionsPie = {
                responsive: true,
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 10,
                        top: 10,
                        bottom: 10
                    }
                },
                legend: {
                    position: "top"
                }
            };

            configPie = {
                type: "pie",
                data: {
                    datasets: [
                        {
                            // data: [1.0 * Number(tem[0]) / (Number(tem[0]) + Number(tem[1])), 1.0 * Number(tem[1]) / (Number(tem[0]) + Number(tem[1]))],
                            data: [Number(tem[0]), Number(tem[1]), Number(tem[2])],
                            backgroundColor: ["#F7604D", "#4ED6B8", "#A8D582", "#9D66CC"],
                            label: "Storage"
                        }
                    ],
                    labels: [
                        "未选取GT",
                        "选取GT",
                        "差不多",
                    ]
                },
                options: optionsPie
            };

            pieChart = new Chart(ctxPie, configPie);
        }
        ;
    }


</script>


<div class="" id="home">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="index.html">
                <h1 class="tm-site-title mb-0">对比打分统计信息</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fas fa-tachometer-alt"></i>
                            统计信息
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div id="piInner"></div>
            <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller">
                    <h2 class="tm-block-title">Case1</h2>
                    <div id="pieChartContainer1">
                        <canvas id="pieChart1" class="chartjs-render-monitor" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller">
                    <h2 class="tm-block-title">Case2</h2>
                    <div id="pieChartContainer2">
                        <canvas id="pieChart2" class="chartjs-render-monitor" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller">
                    <h2 class="tm-block-title">Case3</h2>
                    <div id="pieChartContainer3">
                        <canvas id="pieChart3" class="chartjs-render-monitor" width="200" height="200"></canvas>
                    </div>
                </div>
            </div> -->


            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                    <h2 class="tm-block-title">统计信息详情</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Case</th>
                            <th scope="col">评分人</th>
                            <th scope="col">是否选择GT为最优图像</th>
                            <th scope="col">其他</th>
                        </tr>
                        </thead>

                        <tbody id="aa"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div style="margin: 25px;">
        <fieldset>
            <legend class="tm-block-title">------------------导出结果------------------</legend>
            <div>
<!--                <form action="/analyze" method="post" enctype="multipart/form-data">-->
                    <button id="export" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>导出</button>
<!--                </form>-->
            </div>
        </fieldset>
    </div>


</div>

<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="static/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="static/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="static/js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="static/js/tooplate-scripts.js"></script>
<script>
$('#export').click(function () {
        var excel="";
        excel+="<table>";
        var html=document.getElementById("aa").innerHTML;
        excel+=html;
        excel+="</table>";
        var excelFile="<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:x='urn:schemas-microsoft-com:office:"+excel+"' xmlns='http://www.w3.org/TR/REC-html40'>";
        excelFile=excelFile+"<head><style type=\"text/css\">table td {border: 1px solid #000000;width: 200px;height: 30px text-align: center;}</style></head>"+excel+"</body></html>";
        var base64data="base64,"+window.btoa(unescape(encodeURIComponent(excelFile)));
        window.open('data:application/vnd.ms-excel;'+ base64data);
    });


</script>
</body>

</html>