<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    <title>Magnifier</title>


    <style>
        .rowImg {
            display: flex;
            margin: 5px auto;
            width: 100%;
        }

        .imgBlock {
            margin: 10px auto;
            width: 19%;
        }


        img {
            border: 1px solid #eee;
            width: 100%;
            /* padding: 10px; */
            position: relative;
        }

        .checked {
            border: 3px solid red;
            /* color: red; */
        }

        .submit_button {
            appearance: auto;
            -webkit-writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: -internal-light-dark(black, white);
            letter-spacing: normal;
            word-spacing: normal;
            line-height: normal;
            text-transform: none;
            font-size: 25px;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            box-sizing: border-box;
            background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
            margin: 0em;
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
            border-image: initial;
            width: 200px;
            height: 80px;
        }
    </style>

</head>
<link rel="stylesheet" href="./static/css/style.css" type="text/css" media="all" />
<!-- Style-CSS -->
<link href="./static/css/font-awesome.min.css" rel="stylesheet">

<!-- <body onload="loadBody({{load_info}})"> -->

<body>
    <label type="message" id="message" class="message" style="color: rgba(255, 255, 255, 0);">{{info}}</label>
    <h1 style="color: rgb(0, 0, 0); font-size: 25px; text-align: center;display:block;">Please Choose <em
            style="color: rgb(255, 0, 0); "> Three</em> Images That You Prefer</h1>
    <div class="box">
        <div class="options">
            <!-- 第一行图片-->
            <div class="rowImg">
                <!-- 一个图像块，分为img和label -->
                <div class="imgBlock">
                    <img src="{{img_url_1}}" id="1" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG1</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_2}}" id="2" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG2</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_3}}" id="3" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG3</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_4}}" id="4" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG4</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_5}}" id="5" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG5</span>
                </div>
            </div>

            <!-- 第三行图片-->
            <div class="rowImg">
                <!-- 一个图像块，分为img和label -->
                <div class="imgBlock">
                    <img src="{{img_url_6}}" id="6" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG6</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_7}}" id="7" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG7</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_8}}" id="8" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG8</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_9}}" id="9" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG9</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_10}}" id="10" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG10</span>
                </div>
            </div>

            <!-- 第三行图片-->
            <div class="rowImg">
                <!-- 一个图像块，分为img和label -->
                <div class="imgBlock">
                    <img src="{{img_url_11}}" id="11" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG11</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_12}}" id="12" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG12</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_13}}" id="13" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG13</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_14}}" id="14" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG14</span>
                </div>

                <div class="imgBlock">
                    <img src="{{img_url_15}}" id="15" />
                    <span style="color: rgb(0, 0, 0); font-size: large; text-align: center;display:block;">IMG15</span>
                </div>
            </div>

        </div>
    </div>
    <button type="submit" class="submit_button" onclick="submit_choice" id="submit_button">SUBMIT</button>


    <!-- <div style="margin: 25px;">
        <fieldset>
            <legend>------------------你觉得那张图主观效果更好------------------</legend>
            <div>
                <form action="/service" method="post">

                    <label for="">当前</label>
                    {# <label type="message" id="message" class="message"
                        style="color: rgb(0, 0, 0);">{{now_case}}</label>#}
                    <input type="message" value="{{now_case}}" name="message" required readonly="readonly" />
                    <label><input type="radio" name="img_chosen" value="0" checked=true /> 图一</label>
                    <label><input type="radio" name="img_chosen" value="1" /> 图二</label>
                    <label><input type="radio" name="img_chosen" value="2" /> 差不多</label>
                    <br>
                    <button type="submit" class="buttonStyle">提交</button>
                </form>
            </div>
        </fieldset>
    </div> -->

    <div style="margin: 25px;">
        <fieldset>
            <legend>------------------基本信息------------------</legend>
            <div>
                <p>用户名: {{user_name}}</p>
                <p>评价数据集: {{dataset_judge}}</p>
                <p id="nowCase">当前Case: {{now_case}}</p>
                <p>完成情况(完成数/总数): {{finish_num}} / {{full_num}}</p>
            </div>
        </fieldset>
    </div>

    <div style="margin: 25px;">
        <fieldset>
            <legend>------------------点击查看统计信息------------------</legend>
            <div>
                <form action="/analyze" method="post">
                    <button type="submit" class="buttonStyle">立即查看</button>
                </form>
            </div>
        </fieldset>
    </div>

    <!-- <div style="margin: 25px;">
        <fieldset>
            <legend>------------------逐图展示------------------</legend>
            <div>
                <form action="/loopPic/show" method="get">
                    <button type="submit" class="buttonStyle">立即查看</button>
                </form>
            </div>
        </fieldset>
    </div> -->

</body>
<script type="text/javascript">
    //目标是：复选框效果，样式比较简单，点击字体变颜色即可
    var list = document.querySelectorAll("img"); //先获取所有标签
    var btn = document.getElementById('submit_button');
    btn.addEventListener('click', submit_choice, false);

    var click_sum = 0;
    console.log(list); //类数组

    for (var i = 0; i < list.length; i++) {
        list[i].onclick = function () {
            if (this.classList.value == 'checked') {
                click_sum--;
                this.classList.toggle('checked');
            } else if (click_sum >= 3) {
                alert('You can only pick three imgs.')
            } else {
                this.classList.toggle('checked');
                click_sum++;
            }
            console.log('click_sum' + String(click_sum))
        }
    }

    function submit_choice() {
        var img_list = document.querySelectorAll("img"); //先获取所有标签
        var submit_list = new Array()
        for (var i = 0; i < img_list.length; i++) {
            if (img_list[i].classList.value == 'checked') {
                submit_list.push(img_list[i].id)
            }
        }

        if (submit_list.length < 3) {
            alert('Please choose at least 3 imgs.')
        } else {
            // console.log(submit_list)
            console.log('Submit list' + submit_list.toString())
            var nowCase = document.getElementById('nowCase').innerHTML;
            // $.post("/service",
            //     {
            //         "img_chosen": submit_list.toString(),
            //         "message": nowCase,
            //     });


            var httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
            httpRequest.open('POST', "/service", true); //第二步：打开连接/***发送json格式文件必须设置请求头 ；如下 - */
            httpRequest.setRequestHeader("Content-type", "application/json");//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）
            var obj = { "img_chosen": submit_list.toString(),
                    "message": nowCase};
            httpRequest.send(JSON.stringify(obj));//发送请求 将json写入send中
            window.location.href = "/service"
            /**
             * 获取数据后的处理程序
             */
            // {#httpRequest.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中#}
            // {#    if (httpRequest.readyState == 4 && httpRequest.status == 200) {//验证请求是否发送成功#}
            // {#        var json = httpRequest.responseText;//获取到服务端返回的数据#}
            // {#        console.log(json);#}
            // {#    }#}
            // {#};#}
        }
    }

    function loadBody(message) {
        if (message.length !== 0) {
            alert(message)
        }

    }

    var message = document.getElementById('message').innerHTML;

    window.onload = function () {

        console.log(message)

        if (message.length >= 2 & message !== 'None') {
            alert(message)
        }
    }

</script>

</html>